<p>
  <strong>Usuário:</strong>
  <%= answer.user_id %>
</p>
 
<p>
  <strong>Resposta:</strong>
  <%= answer.body %>
</p>
 
<p>
  <%= link_to 'Deletar Comentário', [answer.question, answer],
               method: :delete,
               data: { confirm: 'Tem certeza que deseja deletar?' } %>
</p>