<%= form_with model: @question, local: true do |form| %>
 
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :assunto %><br>
    <%= form.text_field :assunto %>
  </p>
 
  <p>
    <%= form.label :pergunta %><br>
    <%= form.text_area :pergunta %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>