<h1>Perguntas</h1>
 
<table>
  <tr>
    <th>Assunto</th>
    <th>Pergunta</th>
    <th colspan="3"></th>
  </tr>
 
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.assunto %></td>
      <td><%= question.pergunta %></td>
      <td><%= link_to 'Mostrar', question_path(question) %></td>
      <td><%= link_to 'Editar', edit_question_path(question) %></td>
      <td><%= link_to 'Deletar', question_path(question),
        method: :delete,
        data: { confirm: 'Tem certeza que deseja deletar?' } %></td>
    </tr>
  <% end %>
  
  <%= link_to 'Nova Pergunta', new_question_path %>
</table>