<p>
  <strong>Assunto:</strong>
  <%= @question.assunto %>
</p>
 
<p>
  <strong>Pergunta:</strong>
  <%= @question.pergunta %>
</p>

<p>
  Autor:
  <%= @question.user_id %>
</p>

<h2>Respostas</h2>
<%= render @question.answers %>

<h4>Responder:</h4>
<%= render 'answers/form' %>

<%= link_to 'Editar', edit_question_path(@question) %> |
<%= link_to 'Voltar', questions_path %>